# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.env.test
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# VS Code
.vscode/

# Logs
logs/
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore 